﻿ /*IMPORTANTE - No modificar estos estilos, ya que son imprescindibles para que la pagina se vea correctamente.*/
/*https://developer.mozilla.org/es/docs/Web/CSS/overflow*/
/*elementos basicos*/
html, body {
    height: 100%;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

img {
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}


p {
    text-align: justify;
}

/*maqueta - layout*/

#container {
    width: auto;
    margin: 0 auto;
}

header {
    background-color: #286af0;
    margin 10px;
    /*padding: 10px 0px;*/
}

/*menu horizontal*/


/*.logo {
    width: 150px;
    height: 40px;
    margin-left: 5px;
    margin-bottom: 5px;
}*/

section {
    background-color: #ccc;
    /*padding: 5px;*/
    width: 80%;
    /*height: auto;*/
    float: right;
}

aside {
    float: left;
    width: 20%;
    text-align: center;
}

footer {
    position: relative;
    float: none;
    clear: both;
    background-color: #286af0;
    height: 40px;
    padding: 5px 0;
}

    footer p {
        color: #fff;
        text-align: center;
    }


